.normal-breadcrumb {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        filter: brightness(60%);
    }

    .sub {
        position: absolute;
        z-index: 1;
        color: #fff;

        h1 {
            font-family: "Oswald", sans-serif;
            font-weight: 600;
            margin-bottom: 22px;
            font-size: 48px;
        }
        p {
            font-size: 24px;
        }
    }
}

.w-100 {
    width: 100%;
    height: 570px;
}

.w-50 {
    width: 49.5%;
    height: 283px;
}

.blog-item {
    padding: 0 200px;
    margin: 40px 0 80px;

    display: flex;

    .img {
        .sub-item {
            color: #fff;
            position: absolute;
            top: 0;
            display: block;

            i {
                color: #e53637;
                margin-right: 5px;
            }
        }
    }

    img {
        position: relative;
        object-fit: cover;
        padding: 10px;
    }

    .right .img {
        display: flex;
    }
}

@media only screen and (max-width: 580px) {
    .blog-item {
        padding: 0 10px;
        flex-direction: column;
    }

    .w-100 {
        width: 100%;
        height: 570px;
    }

    .w-50 {
        width: 49.5%;
        height: 283px;
    }
}

@media only screen and (max-width: 1286px) {
    .blog-item {
        padding: 0 10px;
    }
}
