@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Oswald:wght@400;500;600&display=swap");

@import "./components/_header.scss";
@import "./components/_hero.scss";
@import "./components/_product.scss";
@import "./components/_footer.scss";
@import "./components/_formLogin.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: "Mulish", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    border: none;
    outline: none;
}
