@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Oswald:wght@400;500;600&display=swap");

@import "./components/_header.scss";
@import "./components/_hero.scss";
@import "./components/_product.scss";
@import "./components/_footer.scss";
@import "./components/_formLogin.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: "Mulish", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

.fzf-not-found {
    display: none;
    position: fixed;
    width: 500px;
    height: 500px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    img {
        border-radius: 8px;

        width: 100%;
        object-fit: cover;
    }

    span {
        top: 0;
        right: 13px;
        font-size: 30px;
        position: absolute;
        cursor: pointer;

        &:hover {
            color: #e53637;
        }
    }

    p {
        position: absolute;
        bottom: 10px;
        font-weight: 600;
        text-transform: uppercase;
        color: #e53637;
        font-size: 19px;
        filter: drop-shadow(2px 1px 1px #e53637);
        margin-left: 2px;
    }
}
